main{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.form-section{

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  flex-direction: column;

  background-color: rgb(230, 230, 230);
  padding: 10px;
}

.btn-primary{
  background-color: black;
  color: white;
}

button{
  border-radius: 0.75em;
  width: 100%;
}


.btn-primary:hover{
  background-color: rgb(43, 43, 43);
}

.or{
  margin: 2em auto;
}
