<app-default-layout
  title="Login"
  primaryBtn="Entrar"
  secundaryBtn="Cadastrar-se"
  (submit)="submit()"
  (navigate)="navigate()"
>
  <form [formGroup]="loginForm">

    <app-primary-input
      formControlName="email"
      inputName="email"
      type="email"
      placeHolder="Ex.: 123@gmail.com"
      label="Email:"
    ></app-primary-input>

    <app-primary-input
      formControlName="password"
      inputName="password"
      type="password"
      placeHolder="Senha"
      label="Senha:"
    ></app-primary-input>



  </form>
</app-default-layout>
