.container{
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;

}

.box{
  background-color: rgb(56, 56, 56);
  padding: 2em;
}

.title{
  color: white;
}

.title-login{
  color: white;
}
.title-pass{
  margin-top: 1em;
  color: white;
}

.buttons{
  display: flex;
  justify-content: space-between;
  padding-top: 1em;
}
