<div class="container">
    <div class="box">
        <h2 class="title">Cadastro</h2>
        <form (submit)="onSubmit()">
            <div class="name">
                <label for="name">Nome </label><br>
                <input type="text" id="name" name="name" required>
             </div>
             <div class="email">
                <label for="email">Email </label><br>
                <input type="email" id="email" name="email"  required>
             </div>
             <div class="pass">
                <label for="password">Senha: </label><br>
                <input type="password" id="password" name="password"  required>
                

             </div>
             <div class="confirm-pass">
                <label for="confimation">Confirmação de senha: </label><br>
                <input type="password" id="confimation" name="confimation"  required>
             </div>

             <div class="buttons">
                <button class="submit">Cadastrar</button>
                <button class="login" (click)="goToLogin()">Voltar</button>
             </div>
        </form>
    </div>
</div>